<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CPSelectDatePickerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A61BE54F1C226820003179A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A61BE5681C226821003179A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A61BE5731C226821003179A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
